@using System.Globalization
@inherits UmbracoViewPage<ICompositionBasePage>
@{
    var outerTemplate = Model.GetOuterTemplate();
    var pageTitleOrDefault = Model.PageTitleOrDefault();
    var absolutePageUrl = Model.Url(mode: UrlMode.Absolute);
    var ogMedia = Model.SeoOgMetaImage ?? outerTemplate.BaseOgMetaImage;
    var ogMediaUrl = ogMedia!.Content.Url(mode: UrlMode.Absolute).GetCropUrl(ogMedia.LocalCrops, cropAlias: "preview", useCropDimensions: true);
    var title = Model.SeoTitle.IfNullOrWhiteSpace(pageTitleOrDefault + outerTemplate.HtmlTitleAppendage);
}
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="description" content="@Model.SeoDescription">
    <meta name="robots" content="@Model.SeoIndexing.IfNullOrWhiteSpace("index,follow")">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=1,viewport-fit=cover">
    <meta property="og:title" content="@title">
    <meta property="og:locale" content="@CultureInfo.CurrentCulture.Name">
    <meta property="og:site_name" content="@outerTemplate.SiteName">
    <meta property="og:type" content="website">
    <meta property="og:description" content="@Model.SeoDescription">
    <meta property="og:url" content="@absolutePageUrl">
    <meta property="og:image" content="@ogMediaUrl">
    @if (!string.IsNullOrWhiteSpace(outerTemplate.TwitterScreenName))
    {
        <meta name="twitter:site" content="@outerTemplate.TwitterScreenName.EnsureStartsWith('@')">
        <meta name="twitter:creator" content="@outerTemplate.TwitterScreenName.EnsureStartsWith('@')">
    }
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="msapplication-TileColor" content="#262626">
    <meta name="msapplication-config" content="/dist/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#262626">
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/dist/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/dist/static/favicons/safari-pinned-tab.svg" color="#262626">
    <link rel="shortcut icon" href="/dist/static/favicons/favicon.ico">
    <link rel="canonical" href="@absolutePageUrl">
    <link rel="stylesheet" href="/dist/css/style.css" />
</head>