@inherits UmbracoViewPage<IPublishedContent>

@{
    var ot = Model.GetOuterTemplate();
}

<div class="uk-container uk-visible@m">
    <nav class="uk-navbar-container uk-margin uk-navbar">
        <div class="uk-navbar-left">
            <a href="/" class="uk-logo uk-navbar-item">@ot.SiteName</a>
        </div>
        <div class="uk-navbar-center">

            <ul class="uk-navbar-nav">
                @foreach (var item in ot.Navigation.Select(x => (ElementNavigationItem)x.Content))
                {
                    var active = item.Url.Url == Model.Url();
                    <li class="@(active ? "uk-active" : null)"><a href="@item.Url.Url" target="@item.Url.Target">@item.Url.Name</a></li>
                }
            </ul>

        </div>
    </nav>
</div>